<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- Log output pattern -->
    <property name="outputPattern" value="%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx" />

    <!-- If the system property logFolder is empty, it will default to "logs" -->
    <property name="logFolder" value="${logFolder:-logs}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>${outputPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFolder}/yfp.log</file>

        <encoder>
            <pattern>${outputPattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logFolder}/archivedLogs/yfp.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>128MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
